<div class="panel panel-default">
	<div class="panel-heading">Fuentes</div>

	<div class="panel-body">
		<div class="row">
			<div class="col-sm-12">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon3">Nombre</span> <input
						type="text" class="form-control" aria-describedby="basic-addon3"
						ng-model="item.name">
				</div>
			</div>
		</div>
		</br>
		<div class="row">
			<div class="col-sm-12">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon3">Mail</span>
					<input type="text" class="form-control"
						aria-describedby="basic-addon3" ng-model="item.mail">
				</div>
			</div>
		</div>
		</br>
		<div class="row">
			<div class="col-sm-12">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon3">Login</span>
					<input type="text" class="form-control"
						aria-describedby="basic-addon3" ng-model="item.userName">
				</div>
			</div>
		</div>
		</br>
		<div class="row">
			<div class="col-sm-12">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon3">Password</span>
					<input type="text" class="form-control"
						aria-describedby="basic-addon3" ng-model="item.password">
				</div>
			</div>
		</div>
		</br>
		<div class="row">
			<div class="col-sm-12">
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon3">&Aacute;rea</span>
					<select class="form-control" ng-model="item.area" ng-options="a as a.name for a in areas"></select>
				</div>
			</div>
		</div>
		<br><br>
		
		<form name="evaluationSimplicity">
			<div class="form-group">
<!-- 				<div ng-if="data.evaluationError!=null"> -->
<!-- 					<br> -->
<!-- 					<p class="bg-danger">{{data.evaluationError}}</p> -->
<!-- 					<br> -->
<!-- 				</div> -->
			
				<label class="radio-inline">Experiencia laboral:</label>
				<label class="radio-inline">
					<input type="radio" value="0.25" ng-model="item.workExperience" required="required">0 a 2 a&ntilde;os				
				</label>
				<label class="radio-inline">
					<input type="radio" value="0.5" ng-model="item.workExperience" required="required">2 a 5 a&ntilde;os				
				</label>
				<label class="radio-inline">
					<input type="radio" value="0.75" ng-model="item.workExperience" required="required">5 a 10 a&ntilde;os				
				</label>
				<label class="radio-inline">
					<input type="radio" value="1" ng-model="item.workExperience" required="required">10 a&ntilde;os o m&aacute;s
				</label>
				
				<br><br>
				
				<label class="radio-inline">Formaci&oacute;n en el &aacute;rea:</label>
				<label class="radio-inline">
					<input type="radio" value="0.25" ng-model="item.areaEducation" required="required">Autodidacta				
				</label>
				<label class="radio-inline">
					<input type="radio" value="0.5" ng-model="item.areaEducation" required="required">T&eacute;cnico				
				</label>
				<label class="radio-inline">
					<input type="radio" value="0.75" ng-model="item.areaEducation" required="required">Profesional			
				</label>
				<label class="radio-inline">
					<input type="radio" value="1" ng-model="item.areaEducation" required="required">Con postgrados
				</label>
				
				<br><br>
				
				<label class="radio-inline">Posici&oacute;n:</label>
				<label class="radio-inline">
					<input type="radio" value="0" ng-model="item.title" required="required">Empleado junior	
				</label>
				<label class="radio-inline">
					<input type="radio" value="0.25" ng-model="item.title" required="required">Empleado senior				
				</label>
				<label class="radio-inline">
					<input type="radio" value="0.5" ng-model="item.title" required="required">Jefe			
				</label>
				<label class="radio-inline">
					<input type="radio" value="0.75" ng-model="item.title" required="required">Gerente				
				</label>
				<label class="radio-inline">
					<input type="radio" value="1" ng-model="item.title" required="required">Directivo	
				</label>
				
				<br><br>
				
				<h4>Percepci&oacute;n</h4>
				<br>
				
				<label class="radio-inline">Uso de sentido com&uacute;n:</label>
				<label class="radio-inline">
					<input type="radio" value="0" ng-model="item.perceptionCommonSense" required="required">Rara vez				
				</label>
				<label class="radio-inline">
					<input type="radio" value="0.5" ng-model="item.perceptionCommonSense" required="required">Frecuentemente				
				</label>
				<label class="radio-inline">
					<input type="radio" value="1" ng-model="item.perceptionCommonSense" required="required">Siempre				
				</label>
				<br><br>
				
				<label class="radio-inline">Met&oacute;dico / Ordenado:</label>
				<label class="radio-inline">
					<input type="radio" value="0" ng-model="item.perceptionOrder" required="required">Nunca				
				</label>
				<label class="radio-inline">
					<input type="radio" value="0.25" ng-model="item.perceptionOrder" required="required">Rara vez				
				</label>
				<label class="radio-inline">
					<input type="radio" value="0.5" ng-model="item.perceptionOrder" required="required">Frecuentemente
				</label>
				<label class="radio-inline">
					<input type="radio" value="0.75" ng-model="item.perceptionOrder" required="required">Muy frecuentemente
				</label>
				<label class="radio-inline">
					<input type="radio" value="1" ng-model="item.perceptionOrder" required="required">Siempre				
				</label>
				
				<br><br>
				
				<label class="radio-inline">Nivel de inter&eacute;s en el &aacute;rea:</label>
				<label class="radio-inline">
					<input type="radio" value="0" ng-model="item.perceptionInterest" required="required">Regular				
				</label>
				<label class="radio-inline">
					<input type="radio" value="0.5" ng-model="item.perceptionInterest" required="required">Normal			
				</label>
				<label class="radio-inline">
					<input type="radio" value="1" ng-model="item.perceptionInterest" required="required">Muy interesado		
				</label>
				
				<br><br>
				
				<label class="radio-inline">Capacidad de trabajo:</label>
				<label class="radio-inline">
					<input type="radio" value="0" ng-model="item.perceptionWorkCapacity" required="required">M&iacute;nima				
				</label>
				<label class="radio-inline">
					<input type="radio" value="0.25" ng-model="item.perceptionWorkCapacity" required="required">Por debajo de la media
				</label>
				<label class="radio-inline">
					<input type="radio" value="0.5" ng-model="item.perceptionWorkCapacity" required="required">Regular
				</label>
				<label class="radio-inline">
					<input type="radio" value="0.75" ng-model="item.perceptionWorkCapacity" required="required">Buena		
				</label>
				<label class="radio-inline">
					<input type="radio" value="1" ng-model="item.perceptionWorkCapacity" required="required">Muy buena			
				</label>

				<br><br>

				<label class="radio-inline">Capacidad de trabajo en grupo:</label>
				<label class="radio-inline">
					<input type="radio" value="0" ng-model="item.perceptionGroupWorkCapacity" required="required">Trabaja mejor s&oacute;lo				
				</label>
				<label class="radio-inline">
					<input type="radio" value="0.25" ng-model="item.perceptionGroupWorkCapacity" required="required">Por debajo de la media
				</label>
				<label class="radio-inline">
					<input type="radio" value="0.5" ng-model="item.perceptionGroupWorkCapacity" required="required">Regular
				</label>
				<label class="radio-inline">
					<input type="radio" value="0.75" ng-model="item.perceptionGroupWorkCapacity" required="required">Buena		
				</label>
				<label class="radio-inline">
					<input type="radio" value="1" ng-model="item.perceptionGroupWorkCapacity" required="required">Muy buena			
				</label>
				
			</div>
			<br>
		</form>
		
	<div ng-if="data.errorMessage!=null">
		<br>
		<p class="bg-danger">{{data.errorMessage}}</p>
		<br>
	</div>
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-3">
			<a class="btn btn-danger btn-lg" href="" role="button"
				ng-click="cancel()">Cancelar</a>
		</div>
		<div class="col-sm-3">
			<a class="btn btn-success btn-lg" href="" role="button"
				ng-click="accept()">Aceptar</a>
		</div>
		<div class="col-sm-3"></div>
	</div>
	</br>

</div>