<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="gravedad" class="ort.proyecto.gestac.core.entities.PruebaSpring">
    	<property name="dato" value="dato!"/>
    </bean>
    
    <bean id="jadeBean" class="net.sf.jade4spring.JadeBean" init-method="startContainer" lazy-init="false"
			destroy-method="stopContainer">
		<property name="autostartAgents">
			<map>
				<entry>
					<key><value>DBAgent</value></key>
					<ref bean="db.agent"/>
				</entry>
				<entry>
					<key><value>IssueDBAgent</value></key>
					<ref bean="issue.db.agent"/>
				</entry>
				<entry>
					<key><value>InterfaceAgent</value></key>
					<ref bean="interface.agent"/>
				</entry>
				<entry>
					<key><value>DosComportamientosAgent</value></key>
					<ref bean="doscomportamientos.agent"/>
				</entry>
				<entry>
					<key><value>IssueSearchAgent</value></key>
					<ref bean="issue.search.agent"/>
				</entry>
				<entry>
					<key><value>KnowledgeAgent</value></key>
					<ref bean="knowledge.agent"/>				
				</entry>
				<entry>
					<key><value>KnowledgeDBAgent</value></key>
					<ref bean="knowledge.db.agent" />
				</entry>
			</map>
		</property>
	</bean>
	
	<bean id="doscomportamientos.agent" class="ort.proyecto.gestac.core.agents.AgenteDosComportamientos"></bean>

	<bean id="db.agent" class="ort.proyecto.gestac.core.agents.db.DBAgent"/>
	
	<bean id="interface.agent" class="ort.proyecto.gestac.core.agents.InterfaceAgent"/>
	
	<bean id="issue.search.agent" class="ort.proyecto.gestac.core.agents.IssueSearchAgent"/>
	
	<bean id="issue.db.agent" class="ort.proyecto.gestac.core.agents.db.IssueDBAgent"/>
	
	<bean id="knowledge.agent" class="ort.proyecto.gestac.core.agents.KnowledgeAgent">
		<constructor-arg>
			<list>
				<value>refresh</value>
				<value>query</value>
			</list>
		</constructor-arg>
		<!-- le paso esto? o le cableo directamente el comportamiento? por ahora esto. -->
	</bean>
	
	<bean id="knowledge.db.agent" class="ort.proyecto.gestac.core.agents.db.KnowledgeDBAgent"/>

<!-- 	<bean id="get.classloader" class="ort.proyecto.gestac.GetClassLoader" factory-method="get" />  -->

	<bean id="issue.search.repo" class="ort.proyecto.gestac.core.entities.repository.IssueSearchRepositoryImpl"></bean>
	
	<bean id="knowledge.datasource" class="ort.proyecto.gestac.core.entities.repository.KnowledgeDataSourceImpl"></bean>

</beans>