<!-- <a class="btn btn-success btn-lg" href="" role="button" ng-click="add()">Nuevo</a> -->
<div>
	<form name="searchParameters" class="form-inline">
		<div class="form-group">
			<label for="areasSelect">Seleccione un area: </label>
			<select name="areasSelect" id="areasSelect" size=5 class="form-control"
				ng-options="option.name for option in data.areas track by option.id"
				ng-model="data.selectedArea"
				ng-change="areaSelected()"></select>
		</div>
		
		<div class="form-group">	
			<label for="subjectSelect">Seleccione un sujeto: </label>
			<select name="subjectSelect" id="subjectSelect" size=5 class="form-control"
				ng-options="option.name for option in data.subjects track by option.id"
				ng-model="data.selectedSubject"></select>
		</div>
			
		<div class="form-group">	
			<label for="incidentSelect">Seleccione un incidente: </label>
			<select name="incidentSelect" id="incidentSelect" size=5 class="form-control"
				ng-options="option.name for option in data.incidents track by option.id"
				ng-model="data.selectedIncident"></select>
		</div>
	</form>
	<tt>Area: {{data.selectedArea}}</tt>
	<br><br>
	<tt>Sujeto: {{data.selectedSubject}}</tt>
	<br><br>
	<tt>Incidente: {{data.selectedIncident}}</tt>
</div>