<!-- <a class="btn btn-success btn-lg" href="" role="button" ng-click="add()">Nuevo</a> -->
<div>
	<br>
	<br>
	<form name="searchParameters" class="form-inline">
		<div class="form-group">
			<label for="areasSelect">&Aacute;rea: </label>
			<select name="areasSelect" id="areasSelect" size=5 class="form-control" required="required"
				ng-options="option.name for option in data.areas track by option.id"
				ng-model="data.selectedArea"
				ng-change="areaSelected()"></select>
		</div>
		
		<div class="form-group">	
			<label for="subjectSelect">Sujeto: </label>
			<select name="subjectSelect" id="subjectSelect" size=5 class="form-control" required="required"
				ng-options="option.name for option in data.subjects track by option.id"
				ng-model="data.selectedSubject"></select>
		</div>
			
		<div class="form-group">	
			<label for="incidentSelect">Incidente: </label>
			<select name="incidentSelect" id="incidentSelect" size=5 class="form-control" required="required"
				ng-options="option.name for option in data.incidents track by option.id"
				ng-model="data.selectedIncident"
				ng-change="incidentSelected()"></select>
		</div>
		
		<div class="form-group">	
			<label for="gravitySelect">Gravedad: </label>
			<select name="gravitySelect" id="gravitySelect" size=5 class="form-control" required="required"
				ng-options="option.description for option in data.gravities track by option.id"
				ng-model="data.selectedGravity"></select>
		</div>
		
		<div ng-if="false">
			<br> <br>
			<tt>Area: {{data.selectedArea}}</tt>
			<br> <br>
			<tt>Sujeto: {{data.selectedSubject}}</tt>
			<br> <br>
			<tt>Incidente: {{data.selectedIncident}}</tt>
			<br> <br>
			<tt>Gravedad: {{data.selectedGravity}}</tt>
		</div>
		
		<br><br>
		<button type="button" class='btn btn-primary btn-lg' ng-click="searchIssue()">Buscar</button>
		<br>
		
	</form>
		
	<br><br>
	<div ng-if="data.displayIssue!=null">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title" align="left">{{data.displayIssue.title}}</h3>
			</div>
			<div class="panel-body" align="left">
				{{data.displayIssue.description}}</div>
		</div>

		<br><br>
		<button type="button" class='btn btn-primary btn-lg'
			ng-click="getBestKnowledgeForIssue()">Ver mejor conocimiento asociado</button>
		<br>
	</div>
	
	<br><br>
	<div ng-if="data.displayKnowledge!=null">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title" align="left">Mejor conocimiento asociado</h3>
			</div>
			<div class="panel-body" align="left">
				{{data.displayKnowledge.description}}</div>
		</div>

		<br><br>
		
		<div>Por favor, evalue el conocimiento</div>
		
		<form name="evaluationSimplicity">
			<div class="form-group">
				<label>Simplicidad:</label><br>
				<label>
					<input type="radio" value="0.25" ng-model="data.selectedSimplicity">Baja				
				</label><br>
				<label>
					<input type="radio" value="0.5" ng-model="data.selectedSimplicity">Media Baja				
				</label><br>
				<label>
					<input type="radio" value="0.75" ng-model="data.selectedSimplicity">Media Alta				
				</label><br>
				<label>
					<input type="radio" value="1" ng-model="data.selectedSimplicity">Alta	
				</label><br>
			</div>
		</form>
		
		<form name="evaluationUsedTime">
			<div class="form-group">
				<label>Tiempo utilizado:</label><br>
				<label>
					<input type="radio" value="0.25" ng-model="data.selectedUsedTime"><15 min.				
				</label><br>
				<label>
					<input type="radio" value="0.5" ng-model="data.selectedUsedTime">15 min - 1 hora				
				</label><br>
				<label>
					<input type="radio" value="0.75" ng-model="data.selectedUsedTime">1 - 2 horas				
				</label><br>
				<label>
					<input type="radio" value="1" ng-model="data.selectedUsedTime">>2 horas	
				</label><br>
			</div>
		</form>
		
		<form name="evaluationReuse">
			<div class="form-group">
				<label>Reuso:</label><br>
				<label>
					<input type="radio" value="0.25" ng-model="data.selectedReuse">0 - 1 vez				
				</label><br>
				<label>
					<input type="radio" value="0.5" ng-model="data.selectedReuse">2 - 5 veces				
				</label><br>
				<label>
					<input type="radio" value="0.75" ng-model="data.selectedReuse">6 - 10 veces				
				</label><br>
				<label>
					<input type="radio" value="1" ng-model="data.selectedReuse">>10 veces	
				</label><br>
			</div>
		</form>
			
		<br><br>
		<button type="button" class='btn btn-primary btn-lg' ng-click="doEvaluation()">Evaluar</button>
		<br>
			
		
	</div>
		
		
	
	
</div>